
<ion-header>

  <ion-navbar>

    <ion-buttons>

      <button ion-button clear (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title>{{ book.name }}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-card-header>
      {{ book.name }}
    </ion-card-header>

    <ion-card-content>
      <p>{{ book.description }}</p>
    </ion-card-content>

    <ion-grid>

      <ion-row>

        <ion-col>

          <button
            ion-button
            full
            *ngIf="!book.isLend"
            (click)="onToggleLend()">
            Preter
          </button>

        </ion-col>

        <ion-col>

          <button
            ion-button
            full
            *ngIf="book.isLend"
            (click)="onToggleLend()">

            Reprendre

          </button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>

</ion-content>
